.banner {
    position: relative;
    height: 56vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, black, transparent);
    }

    .title,
    .overview {
        max-width: 1000px;
        margin: 0 auto;
        padding: 16px;
        color: white;
        text-align: left;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
        padding-top: 30px;
    }

    .overview {
        font-size: 20px;
    }
}