  nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;

      .util-wrap {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .logo-wrap {
              padding: 1rem;

              img {
                  display: block;
                  width: 120px;
              }
          }

          .menu {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              a {
                  padding: 1rem;
                  color: #ddd;
              }
          }
      }

      .search-wrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 1rem;

          input,
          button {
              height: 20px;
              border: 1px solid #ddd;
              color: #ddd;
              background-color: #2a2a2a;
              border-radius: 10px;
              padding: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
          }

          button {
              margin-left: 1rem;
          }
      }
  }

  @media screen and (max-width: 768px) {
      nav {
          max-width: 100vw;
          flex-direction: column;

          .util-wrap {
              .logo-wrap {
                  img {
                      width: 90px;
                  }

                  padding: 0;
              }

              .menu {
                  width: calc(100% - 90px);
                  overflow-y: auto;
                  -webkit-overflow-scrolling: touch;
                  scrollbar-width: none;
                  -ms-overflow-style: none;

                  &::-webkit-scrollbar {
                      display: none;
                  }

                  a {
                      &:first-child {
                          padding-left: 0;
                      }

                      &:last-child {
                          padding-right: 20px;
                      }

                      padding: 10px;
                  }
              }
          }

          .search-wrap {
              padding-top: 0;
          }
      }
  }