  nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;

      .util-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .logo-wrap {
              padding: 1rem;

              img {
                  display: block;
                  width: 120px;
              }
          }

          .menu {
              display: flex;
              justify-content: flex-start;
              align-items: center;

              a {
                  padding: 1rem;
                  color: #ddd;
              }
          }
      }

      .search-wrap {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 1rem;
          input,
          button {
              height: 20px;
              border: 1px solid #ddd;
              color: #ddd;
              background-color: #2a2a2a;
              border-radius: 10px;
              padding: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
          }
          button {
              margin-left: 1rem;
          }
      }
  }